
  
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Test de la ansiedad de Zung </h5>
  
           <!-- Pregunta 1 -->
           <div class="mb-3">
            <label class="form-label">1. Me siento triste y deprimido.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg1" id="preg1_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg1_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg1" id="preg1_2" value="Algunas veces">
              <label class="form-check-label" for="preg1_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg1" id="preg1_3" value="Muchas veces">
              <label class="form-check-label" for="preg1_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg1" id="preg1_4" value="Casi siempre">
              <label class="form-check-label" for="preg1_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 2 -->
          <div class="mb-3">
            <label class="form-label">2. Por las mañanas me siento mejor que por las tardes.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg2" id="preg2_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg2_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg2" id="preg2_2" value="Algunas veces">
              <label class="form-check-label" for="preg2_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg2" id="preg2_3" value="Muchas veces">
              <label class="form-check-label" for="preg2_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg2" id="preg2_4" value="Casi siempre">
              <label class="form-check-label" for="preg2_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 3 -->
          <div class="mb-3">
            <label class="form-label">3. Frecuentemente tengo ganas de llorar y a veces lloro.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg3" id="preg3_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg3_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg3" id="preg3_2" value="Algunas veces">
              <label class="form-check-label" for="preg3_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg3" id="preg3_3" value="Muchas veces">
              <label class="form-check-label" for="preg3_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg3" id="preg3_4" value="Casi siempre">
              <label class="form-check-label" for="preg3_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 4 -->
          <div class="mb-3">
            <label class="form-label">4. Me cuesta mucho dormir o duermo mal por las noches.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg4" id="preg4_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg4_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg4" id="preg4_2" value="Algunas veces">
              <label class="form-check-label" for="preg4_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg4" id="preg4_3" value="Muchas veces">
              <label class="form-check-label" for="preg4_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg4" id="preg4_4" value="Casi siempre">
              <label class="form-check-label" for="preg4_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 5 -->
          <div class="mb-3">
            <label class="form-label">5. Ahora tengo tanto apetito como antes.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg5" id="preg5_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg5_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg5" id="preg5_2" value="Algunas veces">
              <label class="form-check-label" for="preg5_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg5" id="preg5_3" value="Muchas veces">
              <label class="form-check-label" for="preg5_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg5" id="preg5_4" value="Casi siempre">
              <label class="form-check-label" for="preg5_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 6 -->
          <div class="mb-3">
            <label class="form-label">6. Todavía me siento atraído por el sexo opuesto.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg6" id="preg6_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg5_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg6" id="preg6_2" value="Algunas veces">
              <label class="form-check-label" for="preg5_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg6" id="preg6_3" value="Muchas veces">
              <label class="form-check-label" for="preg5_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg6" id="preg6_4" value="Casi siempre">
              <label class="form-check-label" for="preg5_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 7 -->
          <div class="mb-3">
            <label class="form-label">7. Creo que estoy adelgazando.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg7" id="preg7_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg7_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg7" id="preg7_2" value="Algunas veces">
              <label class="form-check-label" for="preg7_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg7" id="preg7_3" value="Muchas veces">
              <label class="form-check-label" for="preg7_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg7" id="preg7_4" value="Casi siempre">
              <label class="form-check-label" for="preg7_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 8 -->
          <div class="mb-3">
            <label class="form-label">8. Estoy estreñido.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg8" id="preg8_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg8_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg8" id="preg8_2" value="Algunas veces">
              <label class="form-check-label" for="preg8_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg8" id="preg8_3" value="Muchas veces">
              <label class="form-check-label" for="preg8_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg8" id="preg8_4" value="Casi siempre">
              <label class="form-check-label" for="preg8_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 9 -->
          <div class="mb-3">
            <label class="form-label">9. Tengo palpitaciones.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg59" id="preg9_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg9_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg9" id="preg9_2" value="Algunas veces">
              <label class="form-check-label" for="preg9_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg5" id="preg5_3" value="Muchas veces">
              <label class="form-check-label" for="preg9_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg9" id="preg9_4" value="Casi siempre">
              <label class="form-check-label" for="preg9_4">Casi siempre</label>
            </div>
          </div>
  
          <!-- Pregunta 10 -->
          <div class="mb-5">
            <label class="form-label">10. Me canso por cualquier cosa.</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg10" id="preg10_1" value="Muy pocas veces">
              <label class="form-check-label" for="preg10_1">Muy pocas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg10" id="preg10_2" value="Algunas veces">
              <label class="form-check-label" for="preg10_2">Algunas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg10" id="preg10_3" value="Muchas veces">
              <label class="form-check-label" for="preg10_3">Muchas veces</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preg10" id="preg10_4" value="Casi siempre">
              <label class="form-check-label" for="preg10_4">Casi siempre</label>
            </div>
          </div>

          <!--Boton para enviar-->

          <input type="radio" class="btn-check " name="options-outlined" id="success-outlined" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="success-outlined">Enviar Respuestas</label>
  
        </div>
        <!--end card-body-->
  
      </div>
      <!--end card cabecera-->