<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sisvita - Tu amigo virtual</title>
  <link rel="stylesheet" href="principal.component.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <span id="slogan">Mente tranquila, corazón en calma: Una experiencia en línea dedicada a tu bienestar</span>
      <img src="./assets/imagenes_menu/Robot.png" alt="Logo de la marca" id="logo">
    </div>
    <h1>HOLA, SOY TU AMIGO SISVITA ¿NECESITAS AYUDA?</h1>
    <div class="main-content">
      <p>¡Bienvenido a Sisvita! Somos tu compañero virtual dedicado a mejorar tu bienestar y salud mental. En Sisvita, encontrarás el apoyo y las herramientas necesarias para cultivar una mente tranquila. Nuestro objetivo es guiarte hacia un camino de equilibrio emocional y bienestar integral.</p>
      <a href="/test" class="btn">REALIZAR TEST</a>
    </div>
  </div>
</body>
</html>